<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.0.7691.1504" targetFramework="net48" />
  <package id="_nilnul_._LINQ_" version="1.0.7691.1504" targetFramework="net48" />
  <package id="DocumentFormat.OpenXml" version="2.12.1" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="nilnul._bit_._LIB_" version="1.0.7691.1810" targetFramework="net48" />
  <package id="nilnul._character_._LIB_" version="2.1.7691.2637" targetFramework="net48" />
  <package id="nilnul._num_._LIB_" version="1.0.7715.40319" targetFramework="net48" />
  <package id="nilnul._num_._LINQ_" version="1.0.7715.39831" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.0.7715.40630" targetFramework="net48" />
  <package id="nilnul._rel_._LIB_" version="1.0.7691.2221" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.0.7713.29308" targetFramework="net48" />
  <package id="nilnul._time_._LIB_" version="1.0.7691.21760" targetFramework="net48" />
  <package id="nilnul._txt_._LIB_" version="1.0.7691.3023" targetFramework="net48" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.0.7691.20929" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.0.7707.25781" targetFramework="net48" />
  <package id="nilnul.num._quotient_._LIB_" version="1.0.7691.21009" targetFramework="net48" />
  <package id="nilnul.num._real_._LIB_" version="2.0.7709.42967" targetFramework="net48" />
</packages>